header {
  height: 70px;
  position: absolute;
  top: 0px;
  width: 100%;
  z-index: 50;
  background-color: var(--color-primario);
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  height: 100%;
  margin: 0 auto;
}

.logo {
  width: 190px;
  height: 54px;
}

.navbar ul {
  display: flex;
}

.navbar li {
  color: var(--color-blanco);
  font-size: 16px;
  font-weight: 600;
  padding: 0px 15px;
}
