header {
  height: 70px;
  position: absolute;
  top: 0px;
  width: 100%;
  z-index: 50;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  height: 100%;
  margin: 0 auto;
}

.logo {
  width: 190px;
  height: 54px;
}

.navbar ul {
  display: flex;
  align-items: center;
}

.navbar li {
  color: var(--color-blanco);
  font-size: 16px;
  font-weight: 600;
  padding: 0px 15px;
}

.cart-elipse {
  border-radius: 50%;
  width: 45px;
  height: 45px;
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.5);
}
