.carrousel-title {
  width: 90%;
  text-align: left;
  margin-top: 35px;
  margin-bottom: 15px;
}

.carrousel-section {
  width: 90%;
  height: 350px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}
