/* Map Section */

.map-section {
  margin: 40px 0px;
  border-radius: 10px;
  box-shadow: 2px 2px 15px 0px rgba(0, 0, 0, 0.25);
  width: 90%;
  height: 450px;
  display: flex;
  align-items: center;
  background-color: var(--color-blanco);
}

.map-section iframe {
  border-style: none;
  width: 60%;
  height: 100%;
  border-radius: 10px;
}

.map-info {
  display: flex;
  flex-direction: column;
  width: 35%;
  margin: 0 auto;
}

.map-text {
  font-weight: 400;
  color: var(--color-primario);
}

.map-text ul {
  list-style: disc;
  list-style-position: inside;
  color: black;
}

.map-info button {
  margin: 10px 0px;
}

.map-info button:hover {
  background-color: var(--color-primarioL1);
}
