/* Company Section */

.company-section {
  margin: 40px 0px;
  background-color: var(--color-blanco);
  display: flex;
  align-items: center;
  width: 90%;
  height: 450px;
  border-radius: 10px;
  box-shadow: 2px 2px 15px 0px rgba(0, 0, 0, 0.25);
}

.company-section img {
  width: 60%;
  height: 100%;
  border-radius: 10px;
}

.company-text {
  font-size: 24px;
  width: 40%;
  margin: 0px 60px;
}

.company-text h3 {
  margin-bottom: 25px;
}
