.card {
  background-color: aqua;
  width: 30%;
  height: 380px;
  margin-left: 12px;
  margin-bottom: 12px;
  border-radius: 5px;
  background: var(--color-blanco);
  box-shadow: 2px 2px 15px 0px rgba(0, 0, 0, 0.25);
}

.card img {
  width: 100%;
  height: 70%;
  border-radius: 5px 5px 0px 0px;
  object-fit: cover;
}

.card-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 8px;
}

.card-info button {
  margin-top: 10px;
  width: 80%;
  font-weight: 600;
}

.card-info button:hover {
  border: 1px solid var(--Primario, #4b5d78);
  background-color: var(--color-primarioL1);
}
