/* Info Section */

.info-section {
  position: relative;
  width: 90%;
  height: 100px;
  border-radius: 3px;
  background-color: var(--color-primarioL1);
  overflow: visible;
  margin: 70px 0px;
}

.info-content {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -50px;
  width: 85%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 2px 2px 15px 0px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  background-color: var(--color-blanco);
  padding: 20px;
}

.elipse {
  border-radius: 50%;
  border: 1px solid var(--fondo-gris);
  width: 60px;
  height: 60px;
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
}

.info-item {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 100%;
}

.info-item-text {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
